body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.layout {
  display: flex;
  flex-direction: column;
  background-color: #e8efff;
  border-radius: 15px;
  width: 1336px;
  height: 1024px;
}
header {
  display: flex;
  justify-content: center;
  height: 200px;
}

main {
  display: flex;
  flex: 1;
}
.left-column {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 20px;
  padding: 20px;
  width: 20%;
}
.left-column img {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 3px dotted black;
}
.left-column h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.left-column p {
  margin: 0;
}
.left-column .profile-text {
  margin-bottom: 50px;
}
.main-column {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.maim-top-area {
  display: flex;
  justify-content: space-between;
}
.main-column button {
  background-color: #ffffff;
  font-size: 16px;
  padding: 0px 30px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.main-bottom-area {
  flex: 1;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
.right-column {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 20%;
}

/* music player css */
.music-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

#artwork {
  width: 150px;
  height: 150px;
  background-size: cover;
}

.button-area {
  display: flex;
  align-items: center;
}

.button-area img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

#play-icon {
  width: 30px;
  height: 30px;
}

/* quote css */
.quote-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  height: 200px;
}

#quote-button {
  padding: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
}

/* weather css */
.weather-area {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  padding: 10px 15px;
  border-radius: 10px;
}
.weather-area p {
  color: white;
  margin: 5px;
}
.weather-data {
  margin-left: 7px;
  margin-right: 20px;
}
#temp {
  font-size: 32px;
  margin: 0;
}
#today {
  font-size: 12px;
  padding-top: 7px;
}
.weather-image {
  margin: 8px 0 0 20px;
}

/* footer css */
footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
